@{
    Layout = "~/Views/Admin/_Admin_Layout.cshtml";
}
@using AlbumForU.ViewModels.AdminViewModels
@model UserRoleRelation
<a class="btn" asp-action="AppointSmn">Back</a>
<div class="alert-danger">
    @Html.ValidationSummary()
</div>

@if (TempData["Failure"] != null)
{
    <div class="alert-danger">
        <p><strong>Fail:</strong> @TempData["Failure"].ToString()</p>
    </div>
}
<div class="card">
    <div class="card-body">
        <form method="post">
            <div class="form-group">
                <label>User`s ID</label>
                <input readonly asp-for="user.Id" class="form-control" />
            </div>
            <div class="form-group">
                <label>User`s Nickame</label>
                <input readonly class="form-control" asp-for="user.Nickname" />
            </div>
            @if (TempData["CurrentRole"] != null)
            {
                <div class="bg-info">
                    <p>Current role:</p>
                    <p>@TempData["CurrentRole"]</p>
                </div>
                <a class="btn btn-danger" href="~/Admin/DisappointCertainUser/@Model.currentRoleId/@Model.user.Id">Disapoint</a>
            }
            <div class="form-group">
                <label>Select the role</label>
                <select size="1" asp-for="chosenRoleId">
                    <option value="@null"> </option>
                    @foreach (var role in Model.roles)
                    {
                        <option value="@role.Id">@role.Name</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-light">Complete</button>
            </div>
        </form>

    </div>
</div>
