@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using AlbumForU.ViewModels
@model PictureViewModel
<div class="certaine_picture_page">
    <div class="card">
        <div class="picture_orig_contayner">
            <img src="~/@Model.Picture.Path" />
        </div>
        <div class="picture_info_like">
            <div class="picture_info">                
                <h4>Tittle: <strong>@Model.Picture.Name</strong></h4>
                <h5>Author: <strong>@Model.appUser.Nickname</strong></h5>
                <h6>@Model.Picture.Date.ToShortDateString()</h6>
            </div>
            <div class="picture_like">
                <p class="bg-info">@Model.QuantityLikes</p>
                @if (Model.IsLiked == false)
                {
                    <a title="You can like this!" href="~/Picture/LikeDislike/@Model.Picture.Id"><i class="far fa-heart"></i></a>
                }
                else
                {
                    <a title="You already liked this!" href="~/Picture/LikeDislike/@Model.Picture.Id"><i class="fab fa-gratipay"></i></a>
                }
            </div>
        </div>
        <br />
        <br />
        <div class="comments_block">
            <h5>Comments</h5>
            <div class="comment_form_contayner">
                <form method="post" asp-action="AddAComment">
                    <div class="form-group">
                        <label>Add a coment</label>
                        <textarea type="text" maxlength="1000" cols="30" rows="5" required name="commentBody" class="form-control"></textarea>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-outline-primary">Post</button>
                    </div>
                </form>
            </div>
            @if (Model.Comments.Count() > 0)
            {
                <div class="comments_list">
                    @foreach (var comment in Model.Comments)
                    {
                        <div class="comment_contayner">
                            <div class="comment_avatar"><i class="fas fa-user-astronaut"></i></div>
                            <div class="comment_body">
                                <strong>@comment.UserNick</strong>
                                <div class="comment_date">@comment.dateTime.ToShortDateString()</div>
                                <div class="text-body">@comment.TextBody</div>
                            </div>
                        </div>
                    }
                </div>
            }
        </div>
        
    </div>
</div>
